<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">

  <title>Document</title>
  
</head>
<body>

  <div class="wrapper">
    <div class="header">
      <div class="top">
        <div class="logo">
          <img src="https://github.com/codingmarket07/Instagram-Login-Page/blob/master/instagram.png?raw=true" alt="instagram" style="width: 175px;">
        </div>
        <form action="/login" method="post">
        <div class="form" >
          <div class="input_field">
            <input type="text" name="username" placeholder="username" class="input">
          </div>
          <div class="input_field">
            <input type="password" name="password" placeholder="Password" class="input">
          </div>
          
          <div class="btn">
            <input type="submit" value="login">
        </div>
        
        </form>
        <div class="or">
          <div class="line"></div>
          <p>OR</p>
          <div class="line"></div>
        </div>
        <div class="dif">
          <div class="fb">
            <img src="https://github.com/codingmarket07/Instagram-Login-Page/blob/master/facebook.png?raw=true" alt="facebook">
            <p>Log in with Facebook</p>
          </div>
          <div class="forgot">
            <a href="#">Forgot password?</a>
          </div>
        </div>
      </div>
  
</body>
</html>